<app-nav-bar></app-nav-bar>
<br/>
<div>
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Git user </label>
           <input class="fom-control" name="username"
          type="text" [(ngModel)]="username" (keyup)="searchUser()"
          placeholder="Enter an git username"/>
        </div>
    </form>
</div>
<div class="card-group" *ngIf="user">
    <div class="card  col-md-2">
      <div class="card-body">
        <img class="profile-img img-thumbnail" src="{{user.avatar_url}}" >
        <br>
        <br>
        <a class="btn btn-primary" href="{{user.html_url}}" target="_blank" >
          User profile
        </a>
      </div>
    </div>
    <div class="card  col-md-6">
      <div class="card-body">
        <h4> {{user.name}} </h4>
        <div class="stats">
            <span class="badge badge-primary">{{user.public_repos}} Public repos</span>
            <span class="badge badge-info">{{user.public_gists}} Public Gists</span>
            <span class="badge badge-success">{{user.followers}} Followers </span>
            <span class="badge badge-warning">{{user.following}} Following </span>
        </div>
        <br/>
        <div class="listgroup">
          <li class="list-group-item"> <strong>Username:</strong> {{user.login}} </li>
          <li class="list-group-item"> <strong>Location:</strong> {{user.location}} </li>
          <li class="list-group-item"> <strong>Email:</strong> {{user.email}} </li>
          <li class="list-group-item"> <strong>Blog:</strong> {{user.blog}} </li>
          <li class="list-group-item"> <strong>Date Created:</strong> {{user.created_at}} </li>
        </div>
      </div>
    </div>
</div>
<br>
<div  *ngIf="user" >
      <div  *ngFor="let repo of repos">
        <div class="card-group">
          <div class="card  col-md-6">
              <div class="card-body">
                <h4>{{repo.name}}</h4>
                <p>{{repo.description}}</p>
              </div>
          </div>
          <div class="card  col-md-2">
              <div class="card-body">
                  <span class="badge badge-primary">{{repo.watchers}} Watchers </span>
                  <span class="badge badge-info">{{repo.forks}} Forks </span>
              </div>
          </div>
        </div>
        <hr>
      </div>
</div>
